.table {
    display: flex;
    flex-direction: column;
    background-color: #383838;
    padding: 16px;
    border-radius: 16px;
    font-size: 28px;
}

.tableLine, .tableLineTop {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 24px;
    border: 1px solid #000;
    padding: 7px;
    border-radius: 16px;
}

.tableLineTop {
    margin-bottom: 32px;
}