.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #383838;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 32px;
}

.title {
    font-size: 36px;
    margin-bottom: 16px;
}

.input {
    display: flex;
    margin-bottom: 16px;

}

.inputItemLeft, .inputItemRight {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputItemLeft {
    margin-right: 32px;
}

.liInput {
    margin-top: 8px;
}

.InputArea {
    height: 32px;
    width: 100%;
}